<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Sigmar&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #F7F7F7;
            font-family: 'Alkatra', cursive;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            margin-top: -20px;
        }

        .card {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .btn-descargar {
            background-color: #4CAF50;
            color: #FFFFFF;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Documentitos</h1>
            <h2 class="lead text-center fst-italic">Descarga de documentos digitalizados</h2>
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/descarga}">
                <div class="row mb-3">
                    <div class="col">
                        <label for="propietario" class="form-label">Propietario:</label>
                        <input type="text" class="form-control" id="propietario" name="propietario">
                    </div>
                    <div class="col">
                        <label for="fechaInicio" class="form-label">Fecha de inicio:</label>
                        <input type="date" class="form-control" id="fechaInicio" name="fechainicio" required>

                    </div>
                    <div class="col">
                        <label for="fechaFin" class="form-label">Fecha de fin:</label>
                        <input type="date" class="form-control" id="fechaFin" name="fechafin" required>
                    </div>
                    <div class="col d-flex align-items-end">
                        <button type="submit" class="btn btn-primary" value="buscar" name="accion"><i
                                class="fas fa-search"></i> Consulta
                        </button>
                    </div>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>No. Documento</th>
                        <th>Fecha de elaboración</th>
                        <th>Fecha de ingreso</th>
                        <th>Propietario</th>
                        <th>Descarga</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result:${resultados}">
                        <td th:text="${result.documento.numerdoc}"></td>
                        <td th:text="${result.documento.fechaelaboracion}"></td>
                        <td th:text="${result.documento.fechaingresosistema}"></td>
                        <td th:text="${result.documento.propietariodocumento}"></td>
                        <td><input type="checkbox" name="documentosSeleccionados" id="documentosSeleccionados"
                                   class="form-check-input" th:value="${result.nuevonombre}"></td>
                    </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-descargar" value="descargar" name="accion"><i
                            class="fas fa-download"></i> Descargar
                    </button>
                </div>
            </form>
            <div >
                <a class="btn btn-primary"  href="/home">Home</a>


            </div>
        </div>
    </div>
</div>
</body>
</html>